<h1>An error occurred</h1>
<h2>{{ message }}</h2>

{% if display_exceptions is not empty %}
    {% if exception is defined %}
<hr/>

<h2>Additional information:</h2>
<h3><?= get_class($this->exception) ?></h3>
<dl>
    <dt>File:</dt>
    <dd>
        <pre>{{ exception.getFile() }}:{{ exception.getLine() }}</pre>
    </dd>
    <dt>Message:</dt>
    <dd>
        <pre>{{ exception.getMessage() }}</pre>
    </dd>
    <dt>Stack trace:</dt>
    <dd>
        <pre>{{ exception.getTraceAsString() }}</pre>
    </dd>
</dl>

        {% set ex = exception.getPrevious() %}
        {% if ex is defined %}
<hr/>

<h2>Previous exceptions:</h2>
<ul class="list-unstyled">
            <?php $icount = 0 ?>
            <?php while ($ex) : ?>
    <li>
        <h3><?= get_class($ex) ?></h3>
        <dl>
            <dt>File:</dt>
            <dd>
                <pre><?= $ex->getFile() ?>:<?= $ex->getLine() ?></pre>
            </dd>
            <dt>Message:</dt>
            <dd>
                <pre>{{ ex.getMessage() }}</pre>
            </dd>
            <dt>Stack trace:</dt>
            <dd>
                <pre><?= $this->escapeHtml($ex->getTraceAsString()) ?></pre>
            </dd>
        </dl>
    </li>
                <?php
                $ex = $ex->getPrevious();
                if (++$icount >= 50) {
                    echo '<li>There may be more exceptions, but we do not have enough memory to process it.</li>';
                    break;
                }
                ?>
            <?php endwhile ?>
</ul>
        {% endif %}
    {% else %}
        <h3>No Exception available</h3>
    {% endif %}
{% endif %}
